/* EXTEND*/

.titulo1{
    grid-area: titulo1;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin: auto auto;
}
.titulo2{
    grid-area: titulo2;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin: auto auto;
}