/*Main Varios*/

.main_varios {
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: "titulo1 titulo1 video1 video1"
                        "titulo2 titulo2 video1 video1"
                        "titulo3 titulo3 video2 video2"
                        "titulo4 titulo4 video2 video2";

    .titulo1 {
        @extend .titulo1;
    }
    .titulo2 {
        @extend .titulo2;
    }
        .video1{
        grid-area: video1 ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
        }
        .video2{
        grid-area: video2 ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
        }
        .titulo3 {
        grid-area: titulo3;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium';
        text-align: center;
        margin: auto auto;
        }
        .titulo4 {
        grid-area: titulo4;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium';
        text-align: center;
        margin: auto auto;
    }
}